<footer>
    <div class="containerAll">
    
        <div class="containerContactos">
            <div class="columna1">
                <h1>M&aacute;s informaci&oacute;n de la compañ&iacute;a</h1>
                <p>Nos dedicamos a la programación, diseño, y desarrollo de aplicaciones y sitios web.</p>
            </div>

            <div class="columna2">
                <h1>Redes Sociales</h1>
                <div class="filas">
                    <a href="https://www.facebook.com" target="_blank">
                    <img src="./../assets/Imagenes/footer/facebook.png"></a>
                    <label>S&iacute;guenos en Facebook</label>
                </div>
                <div class="filas">
                    <a href="https://www.instagram.com" target="_blank">
                    <img src="./../assets/Imagenes/footer/insta.png"></a>
                    <label>S&iacute;guenos en Instagram</label>
                </div>
                <div class="filas">
                    <a href="https://www.twitter.com" target="_blank">
                    <img src="./../assets/Imagenes/footer/twitter.png"></a>
                    <label>S&iacute;guenos en Twitter</label>
                </div>
                <div class="filas">
                    <a href="https://www.whatsapp.com" target="_blank">
                    <img src="./../assets/Imagenes/footer/whats.png"></a>
                    <label>S&iacute;guenos en whatsapp</label>
                </div>
                <div class="filas">
                    <a href="https://www.youtube.com" target="_blank">
                    <img src="./../assets/Imagenes/footer/youtube.png"></a>
                    <label>S&iacute;guenos en YouTube</label>
                </div>
            </div>

            <div class="columna3">
                <h1>Informaci&oacute;n Contactos</h1>
                <div class="filaContactos">
                    <img src="./../assets/Imagenes/footer/home.png">
                    <label>Bogot&aacute; Colombia.</label>
                </div>
                <div class="filaContactos">
                    <img src="./../assets/Imagenes/footer/mail.png">
                    <label>contactohero@test.com</label>
                </div>
                <div class="filaContactos">
                    <img src="./../assets/Imagenes/footer/cell.png">
                    <label>777 666 666</label>
                </div>
            </div>
        </div>

    </div>

    <div class="containerFooter">
        <div class="copyright">
            <small>&#169; 2020 Todos los Derechos Reservados</small>
        </div>
        <div class="marvel">
            <small><a href="https://www.marvel.com" target="_blank">Marvel Comics</a></small>
        </div>
    </div>
</footer>
