<div id="menu_nav">
  <div id="div_log">
    <img id="logo" src="./assets/Imagenes/shield_b.png">
  </div>
  <div id="div_list_n">
    <ul id="list_nav">
      <li>
        PERSONAJES
      </li>
      <li>
        COMICS
      </li>
      <li>
        CREADORES
      </li>
    </ul>
  </div>
  <div id="nom_app">
    <div id="titulo_app">
      <span>
        HEROMARVEL
      </span>
    </div>
  </div>
</div>

<!-- Commit 1 -->



<div id="menu_nav2">
    <div id="div_log_s2">
      <img id="logo" src="./assets/Imagenes/shield_b.png">
    </div>
    <div id="title_app2">
      <span>
        HEROMARVEL
      </span>
    </div>
    <div id="img_menu" (click)="mostrar_menu();">
      <div id="img">
        <img id="ico_menu" src="./assets/Imagenes/menu.png"/>
      </div>
    </div>
  </div>

  <div id="menu_resp">
    <div id="li_titulo_mr">
      <span id="titulo_mr">
        HEROMARVEL
      </span>
      <div id="img_close" (click)="cerrar_menu();">
        <img src="./assets/Imagenes/close.png" style="width: 10px;" />
      </div>
    </div>
    <ul id="ul_mr">
      <li class="item_ul_mr">
        PERSONAJES
      </li>
      <li class="item_ul_mr">
        COMICS
      </li>
      <li class="item_ul_mr">
        CREADORES
      </li>
    </ul>
  </div>


<!-- Commit 3 -->


<div id="contenido">
    <app-inicio></app-inicio>
</div>
