html,
body {
    height: 100%;
    margin: 0;
}
.loading {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

.loading::before, .loading::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loading > img{
    width: 120px !important;
    height: 100px !important;
    margin-top: -60px;
    margin-left: -50px;
    left: 50%;
    top: 50%;
    position: absolute;
}

.card{
  border-radius: .8rem;
  background-color: #f5f5f5e0;
  padding: 10px 15px;
  margin: 1rem 1.5rem;
  border: black solid 1px;
}

.card-title{
  font-family: 'Piedra', cursive;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-align: center;
}

.borde-menu{
  color: rgb(255, 70, 85);
  letter-spacing: 1px;
  font-weight: bold;
}

.items{
  font-weight: bold;
  font-family: 'Tajawal', sans-serif;
}

.imagen-character{
  width: 250px;
  height: 230px;
  margin-left: 1.9rem;
  margin-top: 1rem;
  border-radius: .3rem;
  box-shadow: #353636 2px -2px 4px;
 }
 
 .imagen-comics{
   width: 280px;
   height: 320px;
   margin-left: .9rem;
   margin-top: 1rem;
   border-radius: .3rem;
   box-shadow: #353636 2px -2px 4px;
  }


/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'RobotoC';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url(assets/Fuentes/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Marvel';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url(assets/Fuentes/MarvelRegular-Dj83.ttf) format('truetype');
}
  
body{
  margin: 0px;
  padding: 0px;
}
  
#menu_nav{
  height: 60pt;
  background:rgb(17, 17, 17);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 2;
  display: flex;
}

#div_log{
  padding-top: 15pt;
  padding-left: 30pt; 
  padding-right: 30pt;
}

#logo{
  width: 30pt;
}

#div_list_n{
  padding-top: 22pt;
}

#list_nav{
  font-family: 'RobotoC';
  color: white;
  height: 39pt;
  margin: 0px;
}

#list_nav li{
  height: 36pt;
  display: inline-block;
  font-size: 10pt;
  padding: 0px 15px;
}

#list_nav li:hover{
  height: 33pt;
  display: inline-block;
  font-size: 10pt;
  padding: 0px 15px;
  border-bottom: 3px solid rgb(255, 70, 85);
  cursor: pointer;
}

#nom_app{
  position: absolute; 
  right: 0px; 
  height: 59pt;
}

#titulo_app{
  color: white;
  font-family: 'Marvel';
  font-size: 30pt;
  margin-top: 14pt;
  margin-right: 20pt;
  align-content: center;
  background: red;
  height: 28pt;
}

#titulo_app span{
  padding-right: 5pt;
  padding-left: 5pt;
}

#menu_nav2{
  display: none;
}

#div_log_s2{
  padding-top: 15pt; 
  padding-left: 30pt; 
  padding-right: 30pt;
}

#title_app2{
  padding-top: 22pt; 
  width: 60%; 
  margin: 0px; 
  padding: 10px; 
  text-align: center;
}

#img_menu{
  position: absolute; 
  right: 0px; 
  height: 59pt; 
  width: 10%; 
  align-items: flex-end; 
  padding-top: 15pt;
}

#img{
  width: 12pt; 
  padding: 6pt; 
  border-radius: 50%; 
  background: rgb(33, 33, 33); 
  text-align: center; 
  cursor: pointer;
}

#ico_menu{
  width: 10px;
}

#menu_resp{
  display: none;
}

#li_titulo_mr{
  height: 40pt; 
  background-color: rgb(17,17,17); 
  padding-top: 15pt; 
  padding-left: 15pt;
}

#titulo_mr{
  font-family: 'Marvel'; 
  color: white; 
  font-size: 27pt;
}

#img_close{
  width: 12pt; 
  padding: 6pt; 
  border-radius: 50%; 
  background: rgb(33, 33, 33); 
  text-align: center; 
  cursor: pointer; 
  float: right; 
  margin-right: 15pt;
}

#ul_mr{
  list-style: none; 
  margin: 0px; 
  padding: 0px; 
  color: white; 
  font-family: 'RobotoC'; 
  font-size: 13pt;
}

.item_ul_mr{
  width: 100%; 
  padding: 15pt; 
  border-bottom: 1px solid black; 
  cursor: pointer;
}

#contenido{
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 60pt;
  width: 100%;
}
  
@media (max-width: 1010px) {
  #menu_nav{
    display: none;
  }

  #menu_nav2{
    height: 60pt;
    background:rgb(17, 17, 17);
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
  }

  #title_app2 span{
    color: white;
    font-family: 'Marvel';
    font-size: 30pt;
    background: red;
    height: 22pt;
  }

  #menu_resp{
    height: 100%; 
    width: 238pt;  
    position: fixed; 
    top: 0; 
    right: 0; 
    z-index: 2; 
    background-color: rgb(33,33,33);
  }
}

.mt-8 {
  margin-top: 8px;
}

.container-cards {
  text-decoration: none;
  color: #000;
}

.card:hover {
  margin-top: 10px;
  background-color: #000;
  color: white;
}

.card-text {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px){
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 14%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 20%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 30%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 45%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 60%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 80%;
  }
}

@media (min-width: 576px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}

@media (min-width: 1200px){
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 14%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 64%;
  }
}

.card-img, .card-img-bottom {
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px);
}

.card-img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
}

.text-muted {
  color: #6c757d!important;
}

.mb-2, .my-2 {
  margin-bottom: .5rem!important;
}

.text-justify {
  text-align: justify!important;
}

.h6, h6 {
  font-size: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}