#slide_inicio{
  height: 433pt;
  background-image: url('../../assets/Imagenes/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#title_marvel{
  position: fixed;
  top: 45%;
  left: 38%;
  margin: auto;
  background:red;
  font-family: 'Marvel';
  font-size: 100pt;
  color: white;
  align-content: center;
  width: 224pt;
  height: 90pt;
  z-index: 1;
}

#title_marvel span{
text-align: center;
margin: 5px 12px; 
}

/* Commit 1 */


@media (max-width: 1010px) {
  #title_marvel{
    left: 28%;
  }
}

@media (max-width: 659px) {
  #title_marvel{
    left: 20%;
  }
}